<footer class="footer">
  <div class="container">
    <div class="footer__contacts-container ">
      <div class="footer__contact palm-one-half lap-and-up-one-quarter">
        <div class="footer__heading">PHONE</div>
        <div class="footer__detail"><a class="footer__mailto" href="tel:+61883401447">+61 8 8340 1447</a></div>
      </div>
      <div class="footer__contact palm-one-half lap-and-up-one-quarter">
        <div class="footer__heading">GENERAL</div>
        <div class="footer__detail"><a class="footer__mailto" href="mailto:info@piratelife.com.au">info@piratelife.com.au</a></div>
      </div>
      <div class="footer__contact palm-one-half lap-and-up-one-quarter">
        <div class="footer__heading">MEDIA &amp; SALES</div>
        <div class="footer__detail"><a class="footer__mailto" href="mailto:mc@piratelife.com.au">mc@piratelife.com.au</a></div>
      </div>
      <div class="footer__contact palm-one-half lap-and-up-one-quarter">
        <div class="footer__heading">MERCH</div>
        <div class="footer__detail"><a class="footer__mailto" href="mailto:jack@piratelife.com.au">jack@piratelife.com.au</a></div>
      </div>
    </div>
    <div class="footer__press-container">
      <span class="footer__press-line"></span>
      <span class="footer__press-pack"><a class="footer__press-link" target="_blank" href="https://www.dropbox.com/sh/hish5ktuoahucag/AAAPSlqHf6-TKddL0ly42__Na?dl=0">PRESS PACK</a></span>
      <span class="footer__press-line"></span>
    </div>
  </div>
</footer>