<div class="social-bar">
  <div class="container">
    <a target="_blank" class="social-bar__icon social-bar__icon--container layout__item one-half" href="https://www.google.com/maps/d/viewer?mid=zssOjhTCZaag.k0BwCCyvR3rk">
      <img src="{{asset 'images/home/header_pin.png'}}" class="social-bar__icon--map"/>
      <span class="social-bar__find-text">Find Our Beer</span>
    </a><!--

  --><div class="social-bar__icon-container layout__item one-half">
  	<span class="social-bar__follow-text">Follow Jack and Red</span>
    <a href="http://www.facebook.com/PirateLifeBrewing" target="_blank"><i class="social-bar__icon social-bar__icon--facebook fa fa-facebook-square"></i></a>
    <a href="http://instagram.com/piratelifebeer" target="_blank"><i class="social-bar__icon social-bar__icon--instagram fa fa-instagram"></i></a>
    <a href="http://twitter.com/PirateLifeBeer" target="_blank"><i class="social-bar__icon social-bar__icon--twitter fa fa-twitter"></i></a>
    </div>
  </div>
</div>