{{!< default}}

{{#post}}
  <div class="container container--white">
    <div class="post-container">
      {{> full-post}}

      {{! Add the comments partial template (currently only Disqus comments) }}
      {{! > comments}}
    </div>
  </div>
{{/post}}